manifest {
    description = 'Convert Thermo RAW MS files to mzXML'
    author = 'Patrick Pedrioli'
}

params {
    raw_folder = 'Data/RAW'
    conv_params = ''
    monitor = false
}

process {
    cache = 'lenient'
    container = 'ppatrick/readw:latest'
    maxForks = 20	// Max number of parallel conversions to run
}


docker {
    enabled = true
    sudo = true
    // user must match owner or /home/user in docker container
    runOptions = '-u 1001:$(id -g)'
}

dag {
    enabled = true
    file = 'convertThermo_dag.html'
    overwrite = true
}

report {
    enabled = true
    file = 'convertThermo_report.html'
    overwrite = true
}

cleanup = true
