manifest {
    description = 'Convert Thermo RAW MS files to mzXML'
    author = 'Patrick Pedrioli'
}

params {
    // Note that boolean params passed on the command line will become
    // strings -> We need to cast in the actual scripts using
    // .toBoolean()
    raw_folder = 'Data/RAW'
    conv_params = ''
    conv_params_msconvert = ''
    mzml = false
    monitor = false
    link_files = false
    outdir_mzxml = 'Results/Mzxml'
    outdir_mzml = 'Results/MzML'
}

process {
    cache = 'lenient'
    container = 'ppatrick/readw:latest'

    withName: '.*:?convertThermo' {
	maxForks = 20	// Max number of parallel conversions to run
        publishDir = [
            path: { "${params.outdir_mzxml}" },
            mode: 'link'
        ]
    }

    withName: '.*:?convertThermoAndLink' {
	maxForks = 20	// Max number of parallel conversions to run
        publishDir = [
            path: { "${params.outdir_mzxml}" },
            mode: 'link'
        ]
    }

    withName: '.*:?convertMzxmlP' {
	maxForks = 20	// Max number of parallel conversions to run
        publishDir = [
            path: { "${params.outdir_mzml}" },
            mode: 'link'
        ]
    }

    withName: '.*:?convertMzxmlAndLinkP' {
	maxForks = 20	// Max number of parallel conversions to run
        publishDir = [
            path: { "${params.outdir_mzml}" },
            mode: 'link'
        ]
    }

    withName: '.*:?patchWineprefixP' {
	maxForks = 20	// Max number of parallel conversions to run
        publishDir = [
            path: { "${params.outdir_mzxml}" },
            mode: 'link'
        ]
    }

    withName: '.*:?cleanPatchWineprefixP' {
	maxForks = 20	// Max number of parallel conversions to run
    }
}


docker {
    enabled = true
    sudo = true
    // user must match owner or /home/user in docker container
    runOptions = '-u 1001:$(id -g)'
}

dag {
    enabled = true
    file = 'convertThermo_dag.html'
    overwrite = true
}

report {
    enabled = true
    file = 'convertThermo_report.html'
    overwrite = true
}

cleanup = true
